[Unit]
Description=Stock Signal Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/stock-signal
EnvironmentFile=/home/ubuntu/stock-signal/env.conf
ExecStart=/home/ubuntu/stock-signal/venv/bin/python bot.py
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=stocksignal-bot

[Install]
WantedBy=multi-user.target
